[Unit]
Description=Start psplash-systemd progress communication helper
DefaultDependencies=no
After=psplash-start.service
RequiresMountsFor=/run
ConditionPathExists=/usr/bin/psplash-systemd
ConditionPathExists=/run/psplash_fifo

[Service]
ExecStart=/usr/bin/psplash-systemd
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
