// SPDX-License-Identifier: GPL-2.0-only OR MIT
/*
 * DSI A to HDMI Expansion Board for Carbon AM67x
 *
 * Copyright (C) 2025 Ezurio LLC
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "k3-pinctrl.h"

&{/} {
	hdmi-connector-a {
		compatible = "hdmi-connector";
		label = "hdmi";
		type = "a";

		port {
			hdmi_connector_a_in: endpoint {
				remote-endpoint = <&adv7535_out>;
			};
		};
	};

	reg_dsi_a: regulator-dsi-a {
		compatible = "regulator-fixed";
		regulator-name = "reg_dsi_a";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		vin-supply = <&reg_3v3_carrier>;

		pinctrl-names = "default";
		pinctrl-0 = <&main_dsi_a_power_default>;
		gpios = <&main_gpio0 28 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		startup-delay-us = <10000>;
		regulator-always-on;
	};
};

&gpu {
	status = "okay";
};

&dss1 {
	status = "okay";
};

&dss1_ports {
	#address-cells = <1>;
	#size-cells = <0>;

	/* Video Port 2 Output to DSI */
	port@1 {
		reg = <1>;

		dss1_dpi1_out: endpoint {
			remote-endpoint = <&dsi0_in>;
		};
	};
};

&dphy_tx0 {
	status = "okay";
};

&dsi0 {
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			dsi0_out: endpoint {
				remote-endpoint = <&adv7535_in>;
			};
		};

		port@1 {
			reg = <1>;

			dsi0_in: endpoint {
				remote-endpoint = <&dss1_dpi1_out>;
			};
		};
	};
};

&i2c_port_a {
	#address-cells = <1>;
	#size-cells = <0>;

	hdmi-bridge-dsi-a@3d {
		compatible = "adi,adv7535";
		reg = <0x3d>;
		interrupts-extended = <&exp2 0 IRQ_TYPE_EDGE_FALLING>;
		adi,dsi-lanes = <4>;
		v3p3-supply = <&reg_dsi_a>;

		areg-supply = <&reg_3v3_carrier>;
		dreg-supply = <&reg_3v3_carrier>;
		preg-supply = <&reg_3v3_carrier>;
		a2reg-supply = <&reg_3v3_carrier>;
		v1p2-supply = <&reg_3v3_carrier>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				adv7535_in: endpoint {
					remote-endpoint = <&dsi0_out>;
				};
			};

			port@1 {
				reg = <1>;

				adv7535_out: endpoint {
					remote-endpoint = <&hdmi_connector_a_in>;
				};
			};
		};
	};
};
