// SPDX-License-Identifier: GPL-2.0
/*
 * Digilent Pcam 5C 5MP OV5640 camera module
 *
 * Copyright (C) 2025 Ezurio LLC
 */

/dts-v1/;
/plugin/;

#include "k3-am675-carbon-cam-d.dtsi"

&cam_d {
	compatible = "ovti,ov5640";
	reg = <0x3c>;

	DOVDD-supply = <&vdd_cam_d>;
	VDDA-supply = <&vdd_cam_d>;
	VDDD-supply = <&vdd_cam_d>;

	reset-gpios = <&exp0 7 GPIO_ACTIVE_LOW>; /* CAM_D_RST */
	powerdown-gpios = <&exp0 6 GPIO_ACTIVE_LOW>; /* CAM_D_PWR */
};
