// SPDX-License-Identifier: GPL-2.0
/*
 * ArduCam xISP camera module
 *
 * Copyright (C) 2025 Ezurio LLC
 */

#include "k3-am675-carbon-cam-c-ov5640.dtso"

&camera_cam_c {
	reg = <0x0c>;
	compatible = "arducam,arducam-pivariety";

	VANA-supply = <&vdd_3v3_carrier>;
	VDIG-supply = <&vdd_3v3_carrier>;
	VDDL-supply = <&vdd_3v3_carrier>;

	reset-gpios = <&exp0 5 GPIO_ACTIVE_HIGH>; /* CAM_C_RST */
	enable-gpios = <&exp0 4 GPIO_ACTIVE_HIGH>; /* CAM_C_PWR */
	/delete-property/ powerdown-gpios;
};

&csi2_cam2 {
	data-lanes = <1 2 3 4>;
};

&csi2rx2_in_sensor {
	data-lanes = <1 2 3 4>;
};
