// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * SDIO LWBxx & IFxxx module
 *
 * Copyright (C) 2025 Ezurio LLC
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

&sdhci2 { /* SDIO_B  WIFI */
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	wifi@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
	};
};

&main_uart1 {
	pinctrl-0 = <&main_uart1_pins_default>, <&main_bt_en_pins_default>;

	status = "okay";

	bluetooth {
		compatible = "infineon,cyw55572-bt";
		vbat-supply = <&reg_slow_clock>;
		vddio-supply = <&reg_1v8>;
		brcm,requires-autobaud-mode;
		max-speed = <3000000>;
		shutdown-gpios = <&main_gpio0 18 GPIO_ACTIVE_HIGH>;
	};
};
