// SPDX-License-Identifier: GPL-2.0
/*
 * M.2 SDIO LWBxx & IFxxx module
 *
 * Copyright (C) 2025 Ezurio LLC
 */

/dts-v1/;
/plugin/;

#include "k3-am675-carbon-m2-sdio.dtsi"

&sdhci1 { /* SDIO_A uSD / M.2_SDIO */
	vmmc-supply = <&reg_wifi_en_m2>;

	#address-cells = <1>;
	#size-cells = <0>;

	wifi@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
	};
};

&mcu_uart0 {
	bluetooth {
		compatible = "brcm,bcm4329-bt";
		vbat-supply = <&vcc_wifi_m2>;
		vddio-supply = <&vdd_1v8_carrier>;
		brcm,requires-autobaud-mode;
		max-speed = <3000000>;
		shutdown-gpios = <&exp1 5 GPIO_ACTIVE_HIGH>;
		device-wakeup-gpios = <&exp1 7 GPIO_ACTIVE_HIGH>;
	};
};
