// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * SDIO LWBxx & IFxxx module
 *
 * Copyright (C) 2026 Ezurio LLC
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

#include "imx8mm-pinfunc.h"

&reg_wifi_en {
	startup-delay-us = <250000>;
	off-on-delay-us = <100>;
};

&usdhc3 {
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	wifi@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
	};
};

&uart3 {
	status = "okay";

	bluetooth {
		compatible = "infineon,cyw55572-bt";
		vbat-supply = <&reg_slow_clock>;
		vddio-supply = <&reg_vdd_1v8>;
		brcm,requires-autobaud-mode;
		max-speed = <3000000>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_bt_en>;
		shutdown-gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;
	};
};

&iomuxc {
	pinctrl_bt_en: bt-engrp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO05_GPIO1_IO5	0x100
		>;
	};
};
