// SPDX-License-Identifier: GPL-2.0
/*
 * M.2 SDIO IF5xx module
 * Copyright (C) 2024 Ezurio LLC
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

&{/} {
	vcc_wifi_m2: regulator-wifi-m2 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_wifi_m2";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		vin-supply = <&vcc_3v3_sys>;

		gpios = <&exp1 12 GPIO_ACTIVE_HIGH>; 
		enable-active-high;
	};

	wifi_pwrseq_m2: wifi-pwrseq-m2 {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		power-off-delay-us = <100000>;
		post-power-on-delay-ms = <150>;

		reset-gpios = <&exp1 4 GPIO_ACTIVE_LOW>;   /* M2_WDISABLE1# */
	};

	wifi_wakeup_m2: wifi_wakeup_m2 {
		compatible = "gpio-keys";

		wifi-wake-up-m2 {
			label = "Wi-Fi Wake Up M2";
			gpios = <&exp2 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			linux,code = <KEY_WAKEUP>;
			wakeup-source;
		};

		bt-wake-up-m2 {
			label = "BT Wake Up M2";
			gpios = <&exp2 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			linux,code = <KEY_WAKEUP>;
			wakeup-source;
		};
	};
};

&exp1 {
	sdio_a_switch_en_hog {
		gpio-hog;
		output-high;
		gpios = <13 GPIO_ACTIVE_HIGH>;
	};

	sdio_a_sel_hog {
		gpio-hog;
		output-high;
		gpios = <14 GPIO_ACTIVE_HIGH>;
	};
};

&exp2 {
	wakeup-source;
};

&sdhci1 { /* SDIO_A uSD / M.2_SDIO */
	status = "okay";

	vmmc-supply = <&vcc_wifi_m2>;
	mmc-pwrseq = <&wifi_pwrseq_m2>;

	non-removable;
	ti,fails-without-test-cd;
	ti,driver-strength-ohm = <50>;
	keep-power-in-suspend;

	#address-cells = <1>;
	#size-cells = <0>;
};

&mcu_uart0 {
	status = "okay";

	uart-has-rtscts;
};
