// SPDX-License-Identifier: GPL-2.0
/*
 * M.2 SDIO Wi-Fi common functions
 *
 * Copyright (C) 2025 Ezurio LLC
 */

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

&{/} {
	vcc_wifi_m2: regulator-wifi-m2 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_wifi_m2";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		vin-supply = <&vdd_3v3_carrier>;

		gpios = <&exp1 12 GPIO_ACTIVE_HIGH>;  /* M2_POWER_EN */
		enable-active-high;

		regulator-always-on;
	};

	reg_wifi_en_m2: regulator-wifi-en-m2 {
		compatible = "regulator-fixed";

		regulator-name = "reg_wifi_en_m2";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		vin-supply = <&vcc_wifi_m2>;

		gpios = <&exp1 4 GPIO_ACTIVE_HIGH>;   /* M2_WDISABLE1# */
		enable-active-high;

		startup-delay-us = <250000>;
		off-on-delay-us = <100>;
	};

	wifi_wakeup_m2: wifi_wakeup_m2 {
		compatible = "gpio-keys";

		wifi-wake-up-m2 {
			label = "Wi-Fi Wake Up M2";
			gpios = <&exp2 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			linux,code = <KEY_WAKEUP>;
			wakeup-event-action = <EV_ACT_ASSERTED>;
			wakeup-source;
		};

		bt-wake-up-m2 {
			label = "BT Wake Up M2";
			gpios = <&exp2 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			linux,code = <KEY_WAKEUP>;
			wakeup-event-action = <EV_ACT_ASSERTED>;
			wakeup-source;
		};
	};
};

&exp2 {
	wakeup-source;
};

&mcu_uart0 {
	status = "okay";

	uart-has-rtscts;
};

#ifndef M2_PCIE
&exp1 {
	sdio_a_sel_hog {
		gpio-hog;
		output-high;
		gpios = <14 GPIO_ACTIVE_HIGH>;
	};
};

&sdhci1 { /* SDIO_A uSD / M.2_SDIO */
	status = "okay";

	vmmc-supply = <&reg_wifi_en_m2>;
	vqmmc-supply = <&vdd_1v8_carrier>;

	non-removable;
	ti,fails-without-test-cd;
	keep-power-in-suspend;
};
#endif
