// SPDX-License-Identifier: GPL-2.0-only OR MIT
/*
 * LVDS E to LVDS Expansion Board with BD070LIC3 display for Carbon AM67x
 *
 * Copyright (C) 2025 Ezurio LLC
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pwm/pwm.h>
#include "k3-pinctrl.h"

#include "k3-am675-carbon-bd-panel.dtsi"

&{/} {
	backlight_lvds_e: backlight-lvds-e {
		compatible = "pwm-backlight";

		brightness-levels = <0 1 2 3 4 5 6 7 8 9 10>;
		default-brightness-level = <8>;
		pwms = <&epwm2 1 30000 0>; /* 33.3 kHz */

		pinctrl-names = "default";
		pinctrl-0 = <&main_lvds_e_backlight_en_default>;
		enable-gpios = <&main_gpio0 50 GPIO_ACTIVE_HIGH>;
	};

	vcc_lvds_e: regulator-vcc-lvds-e {
		compatible = "regulator-fixed";
		regulator-name = "vcc_lvds_e";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		vin-supply = <&vdd_3v3_carrier>;

		pinctrl-names = "default";
		pinctrl-0 = <&main_lvds_e_power_default>;
		gpios = <&main_gpio0 49 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		startup-delay-us = <10000>;
	};

	display_lvds_e: display-lvds-e {
		compatible = "panel-lvds";
		data-mapping = "vesa-24";

		power-supply = <&vcc_lvds_e>;
		backlight = <&backlight_lvds_e>;

		width-mm = <150>;
		height-mm = <94>;

		panel-timing {
			BD_PANEL_TIMING
		};

		port {
			lcd_e_in: endpoint {
				remote-endpoint = <&oldi_1_out>;
			};
		};
	};
};

&epwm2 {
	status = "okay";
};

&gpu {
	status = "okay";
};

&dss1 {
	status = "okay";

	/* Separate PCLK for each independent display required,
	   only PLL 18 is connected to DSS1 OLDI */
	assigned-clocks =
		<&k3_clks 241 0>,	/* DSS1-VP0 */
		<&k3_clks 240 0>,	/* DSS1-VP1 */
		<&k3_clks 235 7>;	/* OLDI TX 1 */

	assigned-clock-parents =
		<&k3_clks 241 1>,	/* PLL 18 OLDI */
		<&k3_clks 240 2>,	/* PLL 17 DSI */
		<&k3_clks 235 9>;	/* PLL 18 OLDI */
};

&dss1_ports {
	#address-cells = <1>;
	#size-cells = <0>;

	/* Video Port 1 Output to OLDI */
	port@0 {
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <0>;

		dpi1_out0: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&oldi_1_in>;
		};
	};
};

&oldi1_dss1 {
	status = "okay";

	reg = <1>;
};

&oldi1_dss1_ports {
	#address-cells = <1>;
	#size-cells = <0>;

	port@0 {
		reg = <0>;

		oldi_1_in: endpoint {
			remote-endpoint = <&dpi1_out0>;
		};
	};

	port@1 {
		reg = <1>;

		oldi_1_out: endpoint {
			remote-endpoint = <&lcd_e_in>;
		};
	};
};

&i2c_port_e {
	#address-cells = <1>;
	#size-cells = <0>;

	touchscreen_lvds_e: touchscreen-lvds-e@14 {
		compatible = "goodix,gt911";
		reg = <0x14>;

		AVDD28-supply = <&vcc_lvds_e>;
		VDDIO-supply = <&vcc_lvds_e>;

		interrupts-extended = <&exp2 12 IRQ_TYPE_EDGE_FALLING>;
		interrupt-names = "irq";
		irq-gpios = <&exp2 12 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&exp2 13 GPIO_ACTIVE_HIGH>;

		touchscreen-min-x = <0>;
		touchscreen-min-y = <0>;
		touchscreen-size-x = <1280>;
		touchscreen-size-y = <800>;
	};
};
