[Unit]
Description=Service for media device %i
BindsTo=dev-%i.device
After=dev-%i.device

[Service]
Type=oneshot
ExecStart=/usr/bin/camera-setup.sh /dev/%i
