// SPDX-License-Identifier: GPL-2.0-only OR MIT
/*
 * RGB to LVDS Expansion Board with BD070LIC3 display for carbon AM62x
 *
 * Copyright (C) 2024 Ezurio LLC
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pwm/pwm.h>
#include "k3-pinctrl.h"

#include "k3-am625-carbon-bd-panel.dtsi"

&{/} {
	backlight_rgb: backlight-rgb {
		compatible = "pwm-backlight";

		brightness-levels = <0 1 2 3 4 5 6 7 8 9 10>;
		default-brightness-level = <8>;
		pwms = <&epwm1 0 30000 0>; /* 33.3 kHz */

		pinctrl-names = "default";
		pinctrl-0 = <&main_rgb_backlight_en_default>;
		enable-gpios = <&main_gpio0 71 GPIO_ACTIVE_HIGH>;
	};

	vcc_rgb: regulator-vcc-rgb {
		compatible = "regulator-fixed";
		regulator-name = "vcc_rgb";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		vin-supply = <&vdd_3v3_carrier>;

		pinctrl-names = "default";
		pinctrl-0 = <&main_rgb_power_default>;
		gpios = <&main_gpio0 14 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		startup-delay-us = <20000>;
	};

	display_rgb: display-rgb {
		compatible = "panel-lvds";
		data-mapping = "vesa-24";

		power-supply = <&vcc_rgb>;
		backlight = <&backlight_rgb>;

		width-mm = <150>;
		height-mm = <94>;

		panel-timing {
			BD_PANEL_TIMING
		};

		port {
			lcd_rgb_in: endpoint {
				remote-endpoint = <&lvds_rgb_out>;
			};
		};
	};

	lvds-encoder {
		compatible = "ti,sn65lvds93a", "lvds-encoder";

		//pclk-sample = <1>;
		max-frequency = <130000000>;
		min-frequency = <20000000>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				lvds_rgb_in: endpoint {
					remote-endpoint = <&dpi_out0>;
				};
			};

			port@1 {
				reg = <1>;
				lvds_rgb_out: endpoint {
					remote-endpoint = <&lcd_rgb_in>;
				};
			};
		};
	};
};

&epwm1 {
	status = "okay";
};

&gpu {
	status = "okay";
};

&dss {
	pinctrl-names = "default";
	pinctrl-0 = <&main_dss0_pins_default>;
	status = "okay";
};

&dss_ports {
	#address-cells = <1>;
	#size-cells = <0>;

	port@1 {
		reg = <1>;

		dpi_out0: endpoint {
			remote-endpoint = <&lvds_rgb_in>;
		};
	};
};

&i2c_port_rgb {
	#address-cells = <1>;
	#size-cells = <0>;

	touchscreen_rgb: touchscreen@14 {
		compatible = "goodix,gt911";
		reg = <0x14>;

		AVDD28-supply = <&vcc_rgb>;
		VDDIO-supply = <&vcc_rgb>;

		pinctrl-names = "default";
		pinctrl-0 = <&main_rgb_reset_default>;

		interrupts-extended = <&exp2 6 IRQ_TYPE_EDGE_FALLING>;
		interrupt-names = "irq";
		irq-gpios = <&exp2 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		reset-gpios = <&main_gpio0 19 GPIO_ACTIVE_HIGH>;

		touchscreen-min-x = <0>;
		touchscreen-min-y = <0>;
		touchscreen-size-x = <1280>;
		touchscreen-size-y = <800>;
	};
};
