// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright 2024 Ezurio LLC
 */

/dts-v1/;

#include "nitrogen-imx93-smarc.dtsi"

/ {
	model = "Ezurio Nitrogen i.MX93 SMARC DVK board";
	compatible = "summit,nitrogen-imx93-smarc-dvk", "fsl,imx93";

	aliases {
		rtc0 = &rv3028_carrier;
		rtc1 = &bbnsm_rtc;
	};

	led-controller {
		compatible = "gpio-leds";

		led-0 {
			label = "428A-link-100";
			function = LED_FUNCTION_STATUS;
			color = <LED_COLOR_ID_GREEN>;
			gpios = <&pcal6534 30 GPIO_ACTIVE_LOW>;
			default-state = "off";
			linux,default-trigger = "stmmac-1:07:100Mbps";
		};

		led-1 {
			label = "4289-link-100";
			function = LED_FUNCTION_STATUS;
			color = <LED_COLOR_ID_GREEN>;
			gpios = <&pcal6534 11 GPIO_ACTIVE_LOW>;
			default-state = "off";
			linux,default-trigger = "42890000.ethernet-1:07:100Mbps";
		};
	};

	reg_can1_stby: regulator-can1-stby {
		compatible = "regulator-fixed";

		regulator-name = "reg_can1_stby";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_can1_stby>;
		gpio = <&gpio3 27 GPIO_ACTIVE_HIGH>; /* CCM_CLK02 -> GPIO1 */
		enable-active-high;
	};

	reg_can2_stby: regulator-can2-stby {
		compatible = "regulator-fixed";

		regulator-name = "reg_can2_stby";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		gpio = <&pcal6534 15 GPIO_ACTIVE_HIGH>; /* P1_7 -> GPIO4 */
		enable-active-high;
	};

	reg_i2c_mux_lcd: regulator-i2c-mux-lcd {
		compatible = "regulator-fixed";

		regulator-name = "reg_i2c_mux_lcd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		gpio = <&pcal6534 29 GPIO_ACTIVE_HIGH>; /* P3_5 / GPIO_13 */
		enable-active-high;
	};

	reg_i2c_mux_gp: regulator-i2c-mux-gp {
		compatible = "regulator-fixed";

		regulator-name = "reg_i2c_mux_gp";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		gpio = <&gpio2 2 GPIO_ACTIVE_HIGH>; /* SMARC GPIO6 */
		enable-active-high;
	};

	reg_slow_clock_carrier: regulator-slow-clock-carrier {
		compatible = "regulator-fixed-clock";

		regulator-name = "reg_slow_clock_carrier";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		clocks = <&rv3028_carrier>;

		startup-delay-us = <1000>;
	};

	sound-wm8962 {
		compatible = "fsl,imx-audio-wm8962";
		model = "wm8962-audio";
		audio-cpu = <&sai3>;
		audio-codec = <&codec>;
		audio-routing =
			"Headphone Jack", "HPOUTL",
			"Headphone Jack", "HPOUTR",
			"Ext Spk", "SPKOUTL",
			"Ext Spk", "SPKOUTR",
			"AMIC", "MICBIAS",
			"IN3R", "AMIC",
			"IN1R", "AMIC";
		codec-master;
	};
};

&gpio2 {
	dsi0_backlight: dsi0-backlight {
		gpio-hog;
		gpios = <22 GPIO_ACTIVE_HIGH>; /* SMARC GPIO22 */
		output-low;
	};

	lvds_backlight: lvds-backlight {
		gpio-hog;
		gpios = <23 GPIO_ACTIVE_HIGH>; /* SMARC GPIO23 */
		output-low;
	};
};

&flexcan1 {
	status = "okay";
	xceiver-supply = <&reg_can1_stby>;
};

&flexcan2 {
	status = "okay";
	xceiver-supply = <&reg_can2_stby>;
};

/* LCD I2C */
&i2c_som_lcd {
	i2c-mux-lcd@73 {
		compatible = "nxp,pca9546";
		reg = <0x73>;

		vdd-supply = <&reg_i2c_mux_lcd>;

		#address-cells = <1>;
		#size-cells = <0>;

		i2c_lcd_exp1: i2c-mux-lcd@0 {
			/* EXP1 I2C */
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c_lcd_exp2: i2c-mux-lcd@1 {
			/* EXP2 I2C */
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c_lcd_dsi0: i2c-mux-lcd@2 {
			/* DSI0 I2C */
			reg = <2>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c_lcd_dsi1: i2c-mux-lcd@3 {
			/* DSI1 I2C */
			reg = <3>;
			#address-cells = <1>;
			#size-cells = <0>;
		};
	};
};

&lpi2c3 { /* SM_I2C_GP */
	status = "okay";

	i2c-mux-gp@73 {
		compatible = "nxp,pca9546";
		reg = <0x73>;

		vdd-supply = <&reg_i2c_mux_gp>;

		#address-cells = <1>;
		#size-cells = <0>;

		i2c_gp_rtc: i2c-mux-gp@0 {
			/* RTC */
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			rv3028_carrier: rv3028-carrier@52 {
				compatible = "microcrystal,rv3028";
				reg = <0x52>;

				backup-switchover-dsm;
				#clock-cells = <0>;

				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_rv3028_carrier>;
				interrupts-extended = <&gpio2 24 IRQ_TYPE_LEVEL_LOW>; /* SMARC GPIO12 */
				wakeup-source;
			};
		};

		i2c_gp_usbc: i2c-mux-gp@1 {
			/* USB C */
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			typec: typec@47 {
				compatible = "ti,tusb320";
				reg = <0x60>;
				interrupts-extended = <&pcal6534 27 IRQ_TYPE_EDGE_FALLING>; /* P3_3 GPIO_11 */
			};
		};

		i2c_gp_aud: i2c-mux-gp@2 {
			/* audio */
			reg = <2>;
			#address-cells = <1>;
			#size-cells = <0>;

			codec: wm8962@1a {
				compatible = "wlf,wm8962";
				reg = <0x1a>;
				clocks = <&clk IMX93_CLK_SAI3_GATE>;
				AVDD-supply = <&reg_vdd_1v8>;
				CPVDD-supply = <&reg_vdd_1v8>;
				DBVDD-supply = <&reg_vdd_3v3>;
				DCVDD-supply = <&reg_vdd_1v8>;
				MICVDD-supply = <&reg_vdd_3v3>;
				PLLVDD-supply = <&reg_vdd_1v8>;
				SPKVDD1-supply = <&reg_vdd_5v0>;
				SPKVDD2-supply = <&reg_vdd_5v0>;
				gpio-cfg = <
					0x0000 /* n/c */
					0x0000 /* gpio2: */
					0x0000 /* gpio3: */
					0x0000 /* n/c */
					0x8081 /* gpio5:HP detect */
					0x8095 /* gpio6:Mic detect */
				>;
				gpio-line-names = "N/C", "GPIO2",
					"GPIO3", "N/C",
					"GPIO5:HP detect",
					"GPIO6:Mic detect";
			};
		};

		i2c_gp_pcie: i2c-mux-gp@3 {
			/* pcie */
			reg = <3>;
			#address-cells = <1>;
			#size-cells = <0>;
		};
	};
};

&lpspi1 {
	status = "okay";

	spi1_dev0: spi1@0 {
		reg = <0>;
		compatible = "lwn,bk4";
		spi-max-frequency = <1000000>;
	};

	spi1_dev1: spi1@1 {
		reg = <1>;
		compatible = "lwn,bk4";
		spi-max-frequency = <1000000>;
	};
};

&lpspi3 {
	status = "okay";

	spi0_dev0: spi0@0 {
		reg = <0>;
		compatible = "lwn,bk4";
		spi-max-frequency = <1000000>;
	};

	spi0_dev1: spi0@1 {
		reg = <1>;
		compatible = "lwn,bk4";
		spi-max-frequency = <1000000>;
	};
};

/* I2S0 */
&sai3 {
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai3>;
	assigned-clocks = <&clk IMX93_CLK_SAI3>;
	assigned-clock-parents = <&clk IMX93_CLK_AUDIO_PLL>;
	/* wm8962 needs MCLK 14 - 40 MHz */
	assigned-clock-rates = <24000000>;
	fsl,sai-mclk-direction-output;
	status = "okay";
};

/* USB-C */
&usbotg1 {
	dr_mode = "otg";
	hnp-disable;
	srp-disable;
	adp-disable;
	usb-role-switch;
	disable-over-current;
	status = "okay";

	// 1st VBUS detect, 2nd CC detect
	extcon = <&typec>, <&typec>;
};

&usbotg2 { /* J2 */
	dr_mode = "host";
	disable-over-current;
	samsung,picophy-pre-emp-curr-control = <3>;
	samsung,picophy-dc-vol-level-adjust = <7>;
	status = "okay";
};

&usdhc2 { /* SDIO - SDCARD */
	status = "okay";

	// SD card power on the carrier board is not connected to control signal, 
	// as such SD card cannot be reset, thus disabling 1.8V
	//no-1-8-v;
};

&iomuxc {
	pinctrl_reg_can1_stby: pinctrl-reg-can1-stby {
		fsl,pins = <
			MX93_PAD_CCM_CLKO2__GPIO3_IO27   0x31e
		>;
	};

	pinctrl_rv3028_carrier: pinctrl-rv3028-carrier {
		fsl,pins = <
			MX93_PAD_GPIO_IO24__GPIO2_IO24   0x131e
		>;
	};
};
