// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * SDIO LWBxx & IFxxx module
 *
 * Copyright (C) 2024 Ezurio LLC
 */

/dts-v1/;
/plugin/;

// M.2 SDIO is disabled by default on SMARC carrier board
// requires switching 0 Ohm resistors to enable	

&reg_usdhc2_vmmc {
	vin-supply = <&reg_slow_clock_carrier>;

	startup-delay-us = <250000>;
	off-on-delay-us = <100>;
};

&usdhc2 {
	vmmc-supply = <&reg_usdhc2_vmmc>;

	#address-cells = <1>;
	#size-cells = <0>;

	wifi@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
	};
};

&lpuart7 {
	status = "okay";

	bluetooth {
		compatible = "brcm,bcm4329-bt";
		vbat-supply = <&reg_slow_clock_carrier>;
		vddio-supply = <&reg_vdd_1v8>;
		brcm,requires-autobaud-mode;
		max-speed = <3000000>;
	};
};
