// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2024 Ezurio LLC
 */

#include <dt-bindings/net/ti-dp83867.h>
#include <dt-bindings/usb/pd.h>

#include "imx95.dtsi"

/ {
	model = "Ezurio i.MX95 Nitrogen SMARC board";
	compatible = "summit,imx95-nitrogen-smarc", "fsl,imx95";

	aliases {
		can0 = &flexcan1;
		can1 = &flexcan2;
		ethernet0 = &enetc_port0;
		ethernet1 = &enetc_port1;
		rtc0 = &rv3028;
		rtc1 = &scmi_bbm;
		gpio5 = &pcal6524;
		spi0 = &lpspi6;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0 0x80000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux_cma: linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			alloc-ranges = <0 0x80000000 0 0x7F000000>;
			size = <0 0x3c000000>;
			linux,cma-default;
		};

		vpu_boot: vpu_boot@a0000000 {
			reg = <0 0xa0000000 0 0x100000>;
			no-map;
		};

		mali_protected: mali_protected {
			reg = <0 0xa0100000 0 0x1000000>;
			no-map;
		};
	};

	mali_pma: protected-memory-allocator {
		 compatible = "arm,protected-memory-allocator";
		 memory-region = <&mali_protected>;
	};

	reset_ctrl {
		compatible = "nxp,imx95-resetctrl";
	};

	reg_vdd_5v0: regulator-vdd-5v0 {
		compatible = "regulator-fixed";
		regulator-name = "reg_vdd_5v0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_vdd_3v3: regulator-vdd-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "reg_vdd_3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_vdd_1v8: regulator-vdd-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "reg_vdd_1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_usdhc2_vmmc: regulator-usdhc2-vmmc {
		compatible = "regulator-fixed";

		regulator-name = "reg_usdhc2_vmmc";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_usdhc2_vmmc>;
		gpio = <&gpio3 7 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg_wifi_en: regulator-wifi-en {
		compatible = "regulator-fixed";

		regulator-name = "reg_wifi_en";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		vin-supply = <&reg_slow_clock>;

		gpio = <&pcal6524 12 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg_usb_otg_vbus: regulator-usb-otg-vbus {
		compatible = "regulator-fixed";

		regulator-name = "reg_usb_otg_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&pcal6524 21 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg_usb_hub_vbus: regulator-usb-hub-vbus {
		compatible = "regulator-fixed";

		regulator-name = "reg_usb_hub_vbus";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		gpio = <&pcal6524 22 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg_i2c_mux_som: regulator-i2c-mux-som {
		compatible = "regulator-fixed";

		regulator-name = "reg_i2c_mux_som";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		gpio = <&pcal6524 19 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg_slow_clock: regulator-slow-clock {
		compatible = "regulator-fixed-clock";

		regulator-name = "reg_slow_clock";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		vin-supply = <&reg_vdd_3v3>;
		clocks = <&rv3028>;

		startup-delay-us = <1000>;
	};

	usdhc1_pwrseq: usdhc1-pwrseq {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_usdhc1_vmmc>;

		compatible = "mmc-pwrseq-emmc";
		reset-gpios = <&gpio5 8 GPIO_ACTIVE_LOW>;
	};

	mdio_gpio_fanout: mdio-gpio-fanout {
		compatible = "gpio-fanout";
		gpio-controller;
		#gpio-cells = <2>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ethphy0_reset>, <&pinctrl_ethphy1_reset>;
		gpios = <&gpio5 1 GPIO_ACTIVE_HIGH>, <&gpio2 18 GPIO_ACTIVE_HIGH>;
	};
};

&neutron_core {
	status = "disabled";
};

&neutron {
	status = "disabled";
};

&adc1 {
	vref-supply = <&reg_vdd_1v8>;
};

&enetc_port0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enetc0>;

	phy-handle = <&ethphy0>;
	phy-mode = "rgmii-id";

	status = "okay";
};

&enetc_port1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enetc1>;

	phy-handle = <&ethphy1>;
	phy-mode = "rgmii-id";

	status = "okay";
};

&flexcan1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
};

&flexcan2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2>;
};

&lpi2c2 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c2>;
	pinctrl-1 = <&pinctrl_lpi2c2>;

	clock-frequency = <400000>;

	#address-cells = <1>;
	#size-cells = <0>;
};

&lpi2c3 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c3>;
	pinctrl-1 = <&pinctrl_lpi2c3>;

	clock-frequency = <400000>;
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	i2c-mux-som@71 {
		compatible = "nxp,pca9546";
		reg = <0x71>;

		vdd-supply = <&reg_i2c_mux_som>;

		#address-cells = <1>;
		#size-cells = <0>;

		i2c_csi0: i2c-mux-som@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c_csi1: i2c-mux-som@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c_gp: i2c-mux-som@2 {
			reg = <2>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c_pmic: i2c-mux-som@3 {
			reg = <3>;
			#address-cells = <1>;
			#size-cells = <0>;

			rv3028: rv3028@52 {
				compatible = "microcrystal,rv3028";
				reg = <0x52>;

				backup-switchover-dsm;
				#clock-cells = <0>;

				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_rv3028>;
				interrupts-extended = <&gpio4 29 IRQ_TYPE_LEVEL_LOW>;
				wakeup-source;
			};
		};
	};
};

&lpi2c7 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c7>;
	pinctrl-1 = <&pinctrl_lpi2c7>;

	clock-frequency = <400000>;

	#address-cells = <1>;
	#size-cells = <0>;

	status = "okay";

	pcal6524: gpio@22 {
		compatible = "nxp,pcal6524";
		reg = <0x22>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pcal6524>;

		gpio-controller;
		#gpio-cells = <2>;
		reset-gpios = <&gpio5 14 GPIO_ACTIVE_LOW>;

		interrupt-controller;
		#interrupt-cells = <2>;
		interrupts-extended = <&gpio5 15 IRQ_TYPE_LEVEL_LOW>;

		// Put CLKREQ into low state to disable PCIE clock output
		pcie-clk-req-hog {
			gpio-hog;
			gpios = <16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
			input;
		};
	};
};

&lpspi6 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpspi6>;
	pinctrl-1 = <&pinctrl_lpspi6>;
	cs-gpios = <0>, <0>;
};

&lpuart1 { /* SER1 (console) */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&lpuart6 { /* Bluetooth */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart6>;
	uart-has-rtscts;
};

&lpuart7 { /* SER0 */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart7>;
	uart-has-rtscts;
};

&netc_timer {
	status = "okay";
};

&netc_emdio {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_emdio>;
	status = "okay";

	reset-gpios = <&mdio_gpio_fanout 0 GPIO_ACTIVE_LOW>;
	reset-delay-us = <150>;
	reset-post-delay-us = <300>;

	ethphy0: ethernet-phy@7 {
		reg = <7>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ethphy0_irq>;
		interrupts-extended = <&gpio4 28 IRQ_TYPE_LEVEL_LOW>;

		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_25_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
		ti,clk-output-sel = <DP83867_CLK_O_SEL_OFF>;
	};

	ethphy1: ethernet-phy@3 {
		reg = <3>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ethphy1_irq>;
		interrupts-extended = <&gpio5 2 IRQ_TYPE_LEVEL_LOW>;

		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_25_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
		ti,clk-output-sel = <DP83867_CLK_O_SEL_OFF>;
	};
};

&pcie0 {
	reset-gpio = <&pcal6524 13 GPIO_ACTIVE_LOW>;
};

&pcie1 {
	reset-gpio = <&pcal6524 14 GPIO_ACTIVE_LOW>;
};

&thermal_zones {
	pf09 {
		polling-delay-passive = <250>;
		polling-delay = <2000>;
		thermal-sensors = <&scmi_sensor 2>;

		trips {
			pf09_alert: trip0 {
				temperature = <140000>;
				hysteresis = <2000>;
				type = "passive";
			};

			pf09_crit: trip1 {
				temperature = <155000>;
				hysteresis = <2000>;
				type = "critical";
			};
		};
	};

	pf53_arm {
		polling-delay-passive = <250>;
		polling-delay = <2000>;
		thermal-sensors = <&scmi_sensor 4>;

		trips {
			pf5301_alert: trip0 {
				temperature = <140000>;
				hysteresis = <2000>;
				type = "passive";
			};

			pf5301_crit: trip1 {
				temperature = <155000>;
				hysteresis = <2000>;
				type = "critical";
			};
		};

		cooling-maps {
			map0 {
				trip = <&pf5301_alert>;
				cooling-device =
					<&A55_0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
					<&A55_1 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
					<&A55_2 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
					<&A55_3 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
					<&A55_4 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
					<&A55_5 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
			};
		};
	};

	pf53_soc {
		polling-delay-passive = <250>;
		polling-delay = <2000>;
		thermal-sensors = <&scmi_sensor 3>;

		trips {
			pf5302_alert: trip0 {
				temperature = <140000>;
				hysteresis = <2000>;
				type = "passive";
			};

			pf5302_crit: trip1 {
				temperature = <155000>;
				hysteresis = <2000>;
				type = "critical";
			};
		};
	};
};

&tpm3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_tpm3>;
};

&tpm4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_tpm4>;
};

&usb2 { /* USB0 */
	vbus-supply = <&reg_usb_otg_vbus>;
	samsung,picophy-pre-emp-curr-control = <3>;
	samsung,picophy-dc-vol-level-adjust = <7>;
};

&usb3 { /* USB1 */
	status = "okay";
};

&usb3_phy {
	status = "okay";
	vbus-supply = <&reg_usb_hub_vbus>;
};

&usb3_dwc3 {
	dr_mode = "host";
	hnp-disable;
	srp-disable;
	adp-disable;
	snps,dis-u1-entry-quirk;
	snps,dis-u2-entry-quirk;
};

&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;

	pwrseq = <&usdhc1_pwrseq>;
	vmmc-supply = <&reg_vdd_3v3>;

	bus-width = <8>;
	non-removable;

	status = "okay";
};

&usdhc2 { /* SD card */
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	pinctrl-1 = <&pinctrl_usdhc2_100mhz>, <&pinctrl_usdhc2_gpio>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>, <&pinctrl_usdhc2_gpio>;

	cd-gpios = <&gpio3 00 GPIO_ACTIVE_LOW>;
	fsl,cd-gpio-wakeup-disable;

	vmmc-supply = <&reg_usdhc2_vmmc>;

	bus-width = <4>;
};

&usdhc3 { /* WiFi / Bluetooth */
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc3>, <&pinctrl_usdhc3_gpio>;
	pinctrl-1 = <&pinctrl_usdhc3_100mhz>, <&pinctrl_usdhc3_gpio>;
	pinctrl-2 = <&pinctrl_usdhc3_200mhz>, <&pinctrl_usdhc3_gpio>;

	vmmc-supply = <&reg_wifi_en>;

	bus-width = <4>;
	non-removable;
	keep-power-in-suspend;
};

&mali {
	protected-memory-allocator = <&mali_pma>;
};

&vpuctrl {
	boot = <&vpu_boot>;
	sram = <&sram1>;
};

&wdog3 {
	status = "okay";
};

&scmi_iomuxc {
	pinctrl_ethphy0_reset: ethphy0-reset {
		fsl,pins = <IMX95_PAD_XSPI1_DATA1__GPIO5_IO_BIT1 0x31e>;
	};

	pinctrl_ethphy1_reset: ethphy1-reset {
		fsl,pins = <IMX95_PAD_GPIO_IO18__GPIO2_IO_BIT18 0x31e>;
	};

	pinctrl_ethphy0_irq: ethphy0-irq {
		fsl,pins = <IMX95_PAD_CCM_CLKO3__GPIO4_IO_BIT28 0x131e>;
	};

	pinctrl_ethphy1_irq: ethphy1-irq {
		fsl,pins = <IMX95_PAD_XSPI1_DATA2__GPIO5_IO_BIT2 0x131e>;
	};

	pinctrl_emdio: emdiogrp {
		fsl,pins = <
			IMX95_PAD_ENET1_MDC__NETCMIX_TOP_NETC_MDC	0x57e
			IMX95_PAD_ENET1_MDIO__NETCMIX_TOP_NETC_MDIO	0x97e
		>;
	};

	pinctrl_enetc0: enetc0grp {
		fsl,pins = <
			IMX95_PAD_ENET1_TD3__NETCMIX_TOP_ETH0_RGMII_TD3		0x57e
			IMX95_PAD_ENET1_TD2__NETCMIX_TOP_ETH0_RGMII_TD2		0x57e
			IMX95_PAD_ENET1_TD1__NETCMIX_TOP_ETH0_RGMII_TD1		0x57e
			IMX95_PAD_ENET1_TD0__NETCMIX_TOP_ETH0_RGMII_TD0		0x57e
			IMX95_PAD_ENET1_TX_CTL__NETCMIX_TOP_ETH0_RGMII_TX_CTL	0x57e
			IMX95_PAD_ENET1_TXC__NETCMIX_TOP_ETH0_RGMII_TX_CLK	0x58e
			IMX95_PAD_ENET1_RX_CTL__NETCMIX_TOP_ETH0_RGMII_RX_CTL	0x57e
			IMX95_PAD_ENET1_RXC__NETCMIX_TOP_ETH0_RGMII_RX_CLK	0x58e
			IMX95_PAD_ENET1_RD0__NETCMIX_TOP_ETH0_RGMII_RD0		0x57e
			IMX95_PAD_ENET1_RD1__NETCMIX_TOP_ETH0_RGMII_RD1		0x57e
			IMX95_PAD_ENET1_RD2__NETCMIX_TOP_ETH0_RGMII_RD2		0x57e
			IMX95_PAD_ENET1_RD3__NETCMIX_TOP_ETH0_RGMII_RD3		0x57e
		>;
	};

	pinctrl_enetc1: enetc1grp {
		fsl,pins = <
			IMX95_PAD_ENET2_TD3__NETCMIX_TOP_ETH1_RGMII_TD3		0x57e
			IMX95_PAD_ENET2_TD2__NETCMIX_TOP_ETH1_RGMII_TD2		0x57e
			IMX95_PAD_ENET2_TD1__NETCMIX_TOP_ETH1_RGMII_TD1		0x57e
			IMX95_PAD_ENET2_TD0__NETCMIX_TOP_ETH1_RGMII_TD0		0x57e
			IMX95_PAD_ENET2_TX_CTL__NETCMIX_TOP_ETH1_RGMII_TX_CTL	0x57e
			IMX95_PAD_ENET2_TXC__NETCMIX_TOP_ETH1_RGMII_TX_CLK	0x58e
			IMX95_PAD_ENET2_RX_CTL__NETCMIX_TOP_ETH1_RGMII_RX_CTL	0x57e
			IMX95_PAD_ENET2_RXC__NETCMIX_TOP_ETH1_RGMII_RX_CLK	0x58e
			IMX95_PAD_ENET2_RD0__NETCMIX_TOP_ETH1_RGMII_RD0		0x57e
			IMX95_PAD_ENET2_RD1__NETCMIX_TOP_ETH1_RGMII_RD1		0x57e
			IMX95_PAD_ENET2_RD2__NETCMIX_TOP_ETH1_RGMII_RD2		0x57e
			IMX95_PAD_ENET2_RD3__NETCMIX_TOP_ETH1_RGMII_RD3		0x57e
		>;
	};

	pinctrl_flexcan1: flexcan1grp {
		fsl,pins = <
			IMX95_PAD_PDM_CLK__AONMIX_TOP_CAN1_TX		0x139e
			IMX95_PAD_PDM_BIT_STREAM0__AONMIX_TOP_CAN1_RX	0x139e
		>;
	};

	pinctrl_flexcan2: flexcan2grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO25__CAN2_TX			0x139e
			IMX95_PAD_GPIO_IO27__CAN2_RX			0x139e
		>;
	};

	pinctrl_lpi2c2: lpi2c2grp {
		fsl,pins = <
			IMX95_PAD_I2C2_SCL__AONMIX_TOP_LPI2C2_SCL	0x40000b9e
			IMX95_PAD_I2C2_SDA__AONMIX_TOP_LPI2C2_SDA	0x40000b9e
			IMX95_PAD_GPIO_IO34__GPIO5_IO_BIT14		0x31e
			IMX95_PAD_GPIO_IO35__GPIO5_IO_BIT15		0x31e
		>;
	};

	pinctrl_lpi2c3: lpi2c3grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO28__LPI2C3_SDA			0x40000b9e
			IMX95_PAD_GPIO_IO29__LPI2C3_SCL			0x40000b9e
		>;
	};

	pinctrl_lpi2c7: lpi2c7grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO08__LPI2C7_SDA			0x40000b9e
			IMX95_PAD_GPIO_IO09__LPI2C7_SCL			0x40000b9e
		>;
	};

	pinctrl_lpspi6: lpspi6grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO00__LPSPI6_PCS0		0x3fe
			IMX95_PAD_GPIO_IO01__LPSPI6_SIN			0x3fe
			IMX95_PAD_GPIO_IO02__LPSPI6_SOUT		0x3fe
			IMX95_PAD_GPIO_IO03__LPSPI6_SCK			0x3fe
			IMX95_PAD_GPIO_IO24__LPSPI6_PCS1		0x3fe
		>;
	};

	pinctrl_reg_usdhc1_vmmc: regusdhc1vmmcgrp {
		fsl,pins = <
			IMX95_PAD_XSPI1_DQS__GPIO5_IO_BIT8		0x31e
		>;
	};

	pinctrl_reg_usdhc2_vmmc: regusdhc2vmmcgrp {
		fsl,pins = <
			IMX95_PAD_SD2_RESET_B__GPIO3_IO_BIT7		0x31e
		>;
	};

	pinctrl_sai3: sai3grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO17__SAI3_MCLK			0x31e
			IMX95_PAD_GPIO_IO16__SAI3_TX_BCLK		0x31e
			IMX95_PAD_GPIO_IO26__SAI3_TX_SYNC		0x31e
			IMX95_PAD_GPIO_IO20__SAI3_RX_DATA_BIT0		0x31e
			IMX95_PAD_GPIO_IO21__SAI3_TX_DATA_BIT0		0x31e
		>;
	};

	pinctrl_tpm3: tpm3grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO12__TPM3_CH2			0x31e
		>;
	};

	pinctrl_tpm4: tpm4grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO13__TPM4_CH2			0x31e
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			IMX95_PAD_UART1_RXD__AONMIX_TOP_LPUART1_RX      0x131e
			IMX95_PAD_UART1_TXD__AONMIX_TOP_LPUART1_TX      0x31e
		>;
	};

	pinctrl_uart6: uart6grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO04__LPUART6_TX			0x31e
			IMX95_PAD_GPIO_IO05__LPUART6_RX			0x131e
			IMX95_PAD_GPIO_IO06__LPUART6_CTS_B		0x131e
			IMX95_PAD_GPIO_IO07__LPUART6_RTS_B		0x131e
		>;
	};

	pinctrl_uart7: uart7grp {
		fsl,pins = <
			IMX95_PAD_GPIO_IO36__LPUART7_TX			0x31e
			IMX95_PAD_GPIO_IO37__LPUART7_RX			0x131e
			IMX95_PAD_GPIO_IO10__LPUART7_CTS_B		0x131e
			IMX95_PAD_GPIO_IO11__LPUART7_RTS_B		0x131e
		>;
	};

	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			IMX95_PAD_SD1_CLK__USDHC1_CLK			0x158e
			IMX95_PAD_SD1_CMD__USDHC1_CMD			0x138e
			IMX95_PAD_SD1_DATA0__USDHC1_DATA0		0x138e
			IMX95_PAD_SD1_DATA1__USDHC1_DATA1		0x138e
			IMX95_PAD_SD1_DATA2__USDHC1_DATA2		0x138e
			IMX95_PAD_SD1_DATA3__USDHC1_DATA3		0x138e
			IMX95_PAD_SD1_DATA4__USDHC1_DATA4		0x138e
			IMX95_PAD_SD1_DATA5__USDHC1_DATA5		0x138e
			IMX95_PAD_SD1_DATA6__USDHC1_DATA6		0x138e
			IMX95_PAD_SD1_DATA7__USDHC1_DATA7		0x138e
			IMX95_PAD_SD1_STROBE__USDHC1_STROBE		0x158e
		>;
	};

	pinctrl_usdhc1_100mhz: usdhc1-100mhzgrp {
		fsl,pins = <
			IMX95_PAD_SD1_CLK__USDHC1_CLK			0x158e
			IMX95_PAD_SD1_CMD__USDHC1_CMD			0x138e
			IMX95_PAD_SD1_DATA0__USDHC1_DATA0		0x138e
			IMX95_PAD_SD1_DATA1__USDHC1_DATA1		0x138e
			IMX95_PAD_SD1_DATA2__USDHC1_DATA2		0x138e
			IMX95_PAD_SD1_DATA3__USDHC1_DATA3		0x138e
			IMX95_PAD_SD1_DATA4__USDHC1_DATA4		0x138e
			IMX95_PAD_SD1_DATA5__USDHC1_DATA5		0x138e
			IMX95_PAD_SD1_DATA6__USDHC1_DATA6		0x138e
			IMX95_PAD_SD1_DATA7__USDHC1_DATA7		0x138e
			IMX95_PAD_SD1_STROBE__USDHC1_STROBE		0x158e
		>;
	};

	pinctrl_usdhc1_200mhz: usdhc1-200mhzgrp {
		fsl,pins = <
			IMX95_PAD_SD1_CLK__USDHC1_CLK			0x15fe
			IMX95_PAD_SD1_CMD__USDHC1_CMD			0x13fe
			IMX95_PAD_SD1_DATA0__USDHC1_DATA0		0x13fe
			IMX95_PAD_SD1_DATA1__USDHC1_DATA1		0x13fe
			IMX95_PAD_SD1_DATA2__USDHC1_DATA2		0x13fe
			IMX95_PAD_SD1_DATA3__USDHC1_DATA3		0x13fe
			IMX95_PAD_SD1_DATA4__USDHC1_DATA4		0x13fe
			IMX95_PAD_SD1_DATA5__USDHC1_DATA5		0x13fe
			IMX95_PAD_SD1_DATA6__USDHC1_DATA6		0x13fe
			IMX95_PAD_SD1_DATA7__USDHC1_DATA7		0x13fe
			IMX95_PAD_SD1_STROBE__USDHC1_STROBE		0x15fe
		>;
	};

	pinctrl_usdhc2_gpio: usdhc2gpiogrp {
		fsl,pins = <
			IMX95_PAD_SD2_CD_B__GPIO3_IO_BIT0		0x31e
		>;
	};

	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			IMX95_PAD_SD2_CLK__USDHC2_CLK			0x158e
			IMX95_PAD_SD2_CMD__USDHC2_CMD			0x138e
			IMX95_PAD_SD2_DATA0__USDHC2_DATA0		0x138e
			IMX95_PAD_SD2_DATA1__USDHC2_DATA1		0x138e
			IMX95_PAD_SD2_DATA2__USDHC2_DATA2		0x138e
			IMX95_PAD_SD2_DATA3__USDHC2_DATA3		0x138e
			IMX95_PAD_SD2_VSELECT__USDHC2_VSELECT		0x51e
		>;
	};

	pinctrl_usdhc2_100mhz: usdhc2-100mhzgrp {
		fsl,pins = <
			IMX95_PAD_SD2_CLK__USDHC2_CLK			0x158e
			IMX95_PAD_SD2_CMD__USDHC2_CMD			0x138e
			IMX95_PAD_SD2_DATA0__USDHC2_DATA0		0x138e
			IMX95_PAD_SD2_DATA1__USDHC2_DATA1		0x138e
			IMX95_PAD_SD2_DATA2__USDHC2_DATA2		0x138e
			IMX95_PAD_SD2_DATA3__USDHC2_DATA3		0x138e
			IMX95_PAD_SD2_VSELECT__USDHC2_VSELECT		0x51e
		>;
	};

	pinctrl_usdhc2_200mhz: usdhc2-200mhzgrp {
		fsl,pins = <
			IMX95_PAD_SD2_CLK__USDHC2_CLK			0x158e
			IMX95_PAD_SD2_CMD__USDHC2_CMD			0x138e
			IMX95_PAD_SD2_DATA0__USDHC2_DATA0		0x138e
			IMX95_PAD_SD2_DATA1__USDHC2_DATA1		0x138e
			IMX95_PAD_SD2_DATA2__USDHC2_DATA2		0x138e
			IMX95_PAD_SD2_DATA3__USDHC2_DATA3		0x138e
			IMX95_PAD_SD2_VSELECT__USDHC2_VSELECT		0x51e
		>;
	};

	pinctrl_usdhc3_gpio: usdhc3gpiogrp {
		fsl,pins = <
			IMX95_PAD_XSPI1_DATA5__GPIO5_IO_BIT5		0x31e
			IMX95_PAD_CCM_CLKO4__CCMSRCGPCMIX_TOP_CLKO_4	0x31e
		>;
	};

	pinctrl_usdhc3: usdhc3grp {
		fsl,pins = <
			IMX95_PAD_SD3_CLK__USDHC3_CLK			0x158e
			IMX95_PAD_SD3_CMD__USDHC3_CMD			0x138e
			IMX95_PAD_SD3_DATA0__USDHC3_DATA0		0x138e
			IMX95_PAD_SD3_DATA1__USDHC3_DATA1		0x138e
			IMX95_PAD_SD3_DATA2__USDHC3_DATA2		0x138e
			IMX95_PAD_SD3_DATA3__USDHC3_DATA3		0x138e
		>;
	};

	pinctrl_usdhc3_100mhz: usdhc3-100mhzgrp {
		fsl,pins = <
			IMX95_PAD_SD3_CLK__USDHC3_CLK			0x158e
			IMX95_PAD_SD3_CMD__USDHC3_CMD			0x138e
			IMX95_PAD_SD3_DATA0__USDHC3_DATA0		0x138e
			IMX95_PAD_SD3_DATA1__USDHC3_DATA1		0x138e
			IMX95_PAD_SD3_DATA2__USDHC3_DATA2		0x138e
			IMX95_PAD_SD3_DATA3__USDHC3_DATA3		0x138e
		>;
	};

	pinctrl_usdhc3_200mhz: usdhc3-200mhzgrp {
		fsl,pins = <
			IMX95_PAD_SD3_CLK__USDHC3_CLK			0x15fe
			IMX95_PAD_SD3_CMD__USDHC3_CMD			0x13fe
			IMX95_PAD_SD3_DATA0__USDHC3_DATA0		0x13fe
			IMX95_PAD_SD3_DATA1__USDHC3_DATA1		0x13fe
			IMX95_PAD_SD3_DATA2__USDHC3_DATA2		0x13fe
			IMX95_PAD_SD3_DATA3__USDHC3_DATA3		0x13fe
		>;
	};

	pinctrl_rv3028: pinctrl-rv3028 {
		fsl,pins = <
			IMX95_PAD_CCM_CLKO4__GPIO4_IO_BIT29   0x131e
		>;
	};

	pinctrl_pcal6524: pinctrl-pcal6524 {
		fsl,pins = <
			IMX95_PAD_GPIO_IO34__GPIO5_IO_BIT14		0x31e
			IMX95_PAD_GPIO_IO35__GPIO5_IO_BIT15		0x131e
		>;
	};
};
