// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright 2024 Ezurio LLC
 *
 */

/dts-v1/;

#include <dt-bindings/leds/common.h>
#include <dt-bindings/input/input.h>
#include "k3-am625-carbon-som.dtsi"
#include "k3-am625-carbon-wifi-cc33xx.dtsi"

/ {
	model = "Summit Carbon AM625 OSM Carrier Board";
	compatible = "summit,am62-dev", "ti,am625";

	aliases {
		gpio3 = &exp1;
		gpio4 = &exp2;
	};

	vdd_mmc1: regulator-sdio-a {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&main_vdd_sdio_a_gpio>;
		regulator-name = "vdd_mmc1";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		startup-delay-us = <250000>;
		enable-active-high;
		gpio = <&main_gpio0 18 GPIO_ACTIVE_HIGH>;
	};

	vdd_3v3: regulator-u4-sw2 {
		/* output of U4 */
		compatible = "regulator-fixed";
		regulator-name = "vdd_3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vdd_1v8: regulator-u4-sw3 {
		/* output of U4 */
		compatible = "regulator-fixed";
		regulator-name = "vdd_1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vdd_aud_3v3: regulator-aud-pwr {
		compatible = "regulator-fixed";
		regulator-name = "vdd_aud_3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpio = <&exp1 8 GPIO_ACTIVE_HIGH>;
	};

	codec_audio: sound {
		compatible = "simple-audio-card";
		status = "okay";

		simple-audio-card,bitclock-master = <&dailink0_master>;
		simple-audio-card,frame-master = <&dailink0_master>;

		simple-audio-card,name = "ti,tac5x1x-soundcard";
		simple-audio-card,format = "i2s";

		simple-audio-card,widgets =
			"Headphone", "Headphone Jack",
			"Line",      "Line In",
			"Line",      "Line Out";

		simple-audio-card,routing =
			"Headphone Jack", "OUT1",
			"Headphone Jack", "OUT2",
			"AIN1", "Line In",
			"AIN2", "Line In",
			"Line Out", "OUT1",
			"Line Out", "OUT2";

		simple-audio-card,aux-devs = <&headset>;

		dailink0_master: simple-audio-card,cpu {
			sound-dai = <&mcasp1>;
			bitclock-master;
			frame-master;
			system-clock-direction-out;
		};

		simple-audio-card,codec {
			sound-dai = <&tac5112>;
		};
	};

	audio_volume {
		compatible = "gpio-keys";

		volume-up {
			label = "Volume Up";
			gpios = <&exp2 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			linux,code = <KEY_VOLUMEUP>;
		};

		volume-down {
			label = "Volume Down";
			gpios = <&exp2 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			linux,code = <KEY_VOLUMEDOWN>;
		};
	};

	leds {
		compatible = "gpio-leds";

		pinctrl-names = "default";
		pinctrl-0 = <&main_led_pins_default>;

		led0 {
			color = <LED_COLOR_ID_GREEN>;
			gpios = <&main_gpio0 13 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};

	transceiver1: can-phy0 {
		compatible = "ti,tcan1042";
		#phy-cells = <0>;
		max-bitrate = <5000000>;
		standby-gpios = <&exp1 2 GPIO_ACTIVE_HIGH>; /* TCAN1046 STB is active HIGH */
	};

	transceiver2: can-phy1 {
		compatible = "ti,tcan1042";
		#phy-cells = <0>;
		max-bitrate = <5000000>;
		standby-gpios = <&exp1 3 GPIO_ACTIVE_HIGH>; /* TCAN1046 STB is active HIGH */
	};

	vcc_usb0_vbus: regulator-usb0-vbus {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&main_usb0_en_pins_default>;
		enable-active-high;
		gpio = <&main_gpio1 50 GPIO_ACTIVE_HIGH>;
		regulator-max-microvolt = <5000000>;
		regulator-min-microvolt = <5000000>;
		regulator-name = "vcc_usb0_vbus";
	};

	connector {
		compatible = "gpio-usb-b-connector", "usb-b-connector";
		pinctrl-names = "default";
		pinctrl-0 = <&mcu_usb_a_id_pins_default>;
		id-gpios = <&mcu_gpio0 16 GPIO_ACTIVE_HIGH>;
		label = "USB_0";
		self-powered;
		vbus-supply = <&vcc_usb0_vbus>;

		port {
			usb_dr_connector: endpoint {
				remote-endpoint = <&usb0_ep>;
			};
		};
	};
};

&cam_mck {
//	status = "okay"; /* Remove test_cam_mck before enabling this */
};

&cpsw3g {
	status = "okay";
};

&cpsw_port1 {
	status = "okay";
	phy-handle = <&cpsw3g_phy0>;
};

&cpsw_port2 {
	status = "okay";
	phy-handle = <&cpsw3g_phy1>;
};

&cpsw3g_mdio {
	pinctrl-names = "default";
	pinctrl-0 = <&main_mdio1_pins_default>, <&main_rgmii_phy0_gpio>,
		<&main_rgmii_phy1_gpio>;

	status = "okay";

	cpsw3g_phy0: ethernet-phy@3 {
		reg = <3>;
		interrupts-extended = <&main_gpio0 1 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&main_gpio0 2 GPIO_ACTIVE_LOW>;
		reset-assert-us = <150>;
		reset-deassert-us = <300>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		tx-fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
		rx-fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
		ti,clk-output-sel = <DP83867_CLK_O_SEL_OFF>;
	};

	cpsw3g_phy1: ethernet-phy@1 {
		reg = <1>;
		interrupts-extended = <&main_gpio0 41 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&main_gpio0 39 GPIO_ACTIVE_LOW>;
		reset-assert-us = <150>;
		reset-deassert-us = <300>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		tx-fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
		rx-fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
		ti,clk-output-sel = <DP83867_CLK_O_SEL_OFF>;
	};
};

&epwm1 {
	status = "okay";
};

&main_i2c1 { /* I2C_A */
	status = "okay";
	clock-frequency = <400000>;

	power-sensor-5v@40 {
		compatible = "ti,ina232"; /* TI, INA232AIDDFR */
		reg = <0x40>;
		vs-supply = <&vdd_3v3>;
		shunt-resistor = <33000>; /* 0.033 Ohms */
	};

	power-sensor-3v3@41 {
		compatible = "ti,ina232"; /* TI, INA232AIDDFR */
		reg = <0x41>;
		vs-supply = <&vdd_3v3>;
		shunt-resistor = <33000>; /* 0.033 Ohms */
	};

	eeprom@54 {
		/* U53, Giantec, GT24C256C-2GLI-TR */
		compatible = "atmel,24c256";
		reg = <0x54>;
		vcc-supply = <&vdd_1v8>;
	};

	exp1: gpio@74 {
		/* U35, TI, TCAL9539RTWR */
		compatible = "ti,tcal9539";
		vcc-supply = <&vdd_1v8>;
		reg = <0x74>;

		#gpio-cells = <2>;
		gpio-controller;

		gpio-line-names = "USB_C_OEn_P00", "USB_D_OEn_P01",
			"CAN_A_STB", "CAN_B_STB",
			"M2_WDISABLE1#", "M2_WDISABLE2#",
			"M2_WL_DEVICE_WAKE", "M2_BT_DEVICE_WAKE",
			"AUD_PWR_EN", "M2_Vendor_DF38", "M2_SD_RST#",
			"CHGR_CE#", "M2_POWER_EN",
			"SDIO_A_SWITCH_EN", "SDIO_A_SEL", "";
	};

	exp2: gpio@77 {
		/* U21, TI, TCAL9539RTWR */
		compatible = "ti,tcal9539";
		vcc-supply = <&vdd_1v8>;
		reg = <0x77>;
		#gpio-cells = <2>;
		gpio-controller;

		gpio-line-names = "ACD_nINT", "M2_UART_WAKE",
			"M2_SD_HOST_WAKE", "CHRGR_INTn", 
			"VOL_UP", "VOL_DOWN",
			"", "",
			"LVDS_C_INT", "LVDS_C_HPD",
			"LVDS_D_INT", "LVDS_D_HPD",
			"LVDS_E_INT", "LVDS_E_HPD",
			"RGB_INT", "RGB_HDMI_HPD";

		pinctrl-names = "default";
		pinctrl-0 = <&main_exp2_pins_default>;

		#interrupt-cells = <2>;
		interrupt-controller;
		interrupts-extended = <&main_gpio1 12 IRQ_TYPE_EDGE_FALLING>;
		interrupt-names = "irq";
	};

	tac5112: audio-codec@51 {
		/* U19, TI, XTAC5112IRGER */
		#sound-dai-cells = <0>;
		compatible = "ti,tac5112";
		reg = <0x51>;

		ti,vref = <0>;  /* 2.75V */
		ti,micbias-vg = <0>; /* same as Vref */
		ti,gpios-func = <0>, <0>, <0>; /* GPIOx - Disable */
		ti,gpi1-func = <0>;

		avdd-supply = <&vdd_aud_3v3>;
		iovdd-supply = <&vdd_1v8>;
	};

	headset: ts3a227e@3b {
		/* U20, TI, TS3A227ERVAR */
		compatible = "ti,ts3a227e";
		reg = <0x3b>;

		interrupts-extended = <&exp2 0 IRQ_TYPE_EDGE_FALLING>;
		interrupt-names = "irq";
		ti,micbias = <6>; /* 2.7V, must match mic bias from codec */
	};
};

&mcasp1 {
	status = "okay";
};

&main_i2c2 { /* I2C_B / I2C_B_MCU / J 25 */
	status = "okay";
};

&main_i2c3 { /* I2C_CAM / I2C_D_ALT / J 21 */
	status = "okay";
};

&main_i2c3 { /* I2C_CAM */
	status = "okay";

	i2c-mux@73 {
		compatible = "nxp,pca9546"; /* U34 TCA9546APWR */
		reg = <0x73>;
		vdd-supply = <&vdd_1v8>;
		#address-cells = <1>;
		#size-cells = <0>;

		i2c_cam_a: i2-cam-a@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c_cam_b: i2-cam-b@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c_cam_c: i2-cam-c@2 {
			reg = <2>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c_cam_d: i2-cam-d@3 {
			reg = <3>;
			#address-cells = <1>;
			#size-cells = <0>;
		};
	};
};

&main_mcan0 { /* CAN_A */
	status = "okay";
	phys = <&transceiver1>;
};

&main_pmx0 {
	main_exp2_pins_default: main-exp2-default-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x1a8, PIN_INPUT_PULLUP, 7) /* GPIO_A_3 (D20) MCASP0_AFSX.GPIO1_12 */
		>;
	};

	main_rgmii_phy0_gpio: main-rgmii-phy0-gpio-default-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x008, PIN_INPUT, 7) /* ETH_A_RST (J24) OSPI0_DQS.GPIO0_2 */
			AM62X_IOPAD(0x004, PIN_INPUT, 7) /* ETH_A_INT (G25) OSPI0_LBCLKO.GPIO0_1 */
		>;
	};

	main_rgmii_phy1_gpio: main-rgmii-phy1-gpio-default-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0a0, PIN_INPUT, 7) /* ETH_B_RST (K25) GPMC0_WPn.GPIO0_39 */
			AM62X_IOPAD(0x0a8, PIN_INPUT, 7) /* ETH_B_INT(M21) GPMC0_CSn0.GPIO0_41 */
		>;
	};

	main_vdd_sdio_a_gpio: main-vdd-sdio-a-gpio-default-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x048, PIN_INPUT, 7) /* SDIO_A_PWR_EN (N25) GPMC0_AD3.GPIO0_18 */
		>;
	};

	main_usb0_en_pins_default: main-usb0-en-default-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x254, PIN_INPUT, 7) /* (C20) USB0_DRVVBUS.GPIO1_50 */
		>;
	};

	main_led_pins_default: main-led-default-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x034, PIN_OUTPUT, 7) /* (H21) OSPI0_CSN2.GPIO0_13 */
		>;
	};
};

&main_spi0 { /* SPI_B */
	status = "okay";

	spidev@0 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <24000000>;
		reg = <0>;
	};
};

&main_uart4 { /* UART_D */
	status = "okay";
};

&main_uart6 { /* UART_A */
	status = "okay";
};

&mcu_mcan0 { /* CAN_B */
	status = "okay";
	phys = <&transceiver2>;
};

&mcu_pmx0 {
	wkupi2c1_pins_default: mywkupi2c1-default-pins {
		pinctrl-single,pins = <
			AM62X_MCU_IOPAD(0x004c, PIN_INPUT_PULLUP, 0) /* GPIO_B_4 (B9) WKUP_I2C0_SCL */
			AM62X_MCU_IOPAD(0x0050, PIN_INPUT_PULLUP, 0) /* GPIO_B_5 (A9) WKUP_I2C0_SDA */
		>;
	};
};

&ospi0 { /* SPI_A Used as a qSPI */
	status = "okay";

	flash@0 {
		compatible = "winbond,w25q64jwz", "jedec,spi-nor";
		reg = <0>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <4>;
		spi-max-frequency = <25000000>;
		cdns,tshsl-ns = <60>;
		cdns,tsd2d-ns = <60>;
		cdns,tchsh-ns = <60>;
		cdns,tslch-ns = <60>;
		cdns,read-delay = <4>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			/* Sample  partition occupies full size of the device */
			partition@0 {
				label = "qspi.part0";
				reg = <0x0 0>;
			};
		};
	};
};

&sdhci1 { /* SDIO_A uSD / M.2_SDIO */
	status = "okay";
	vmmc-supply = <&vdd_mmc1>; /* SDIO_A_PWR_EN */
	vqmmc-supply = <&vdd_sd>; /* VSEL_SD */
	disable-wp;

	ti,driver-strength-ohm = <50>;
};

&wkup_i2c0 { /* I2C_C */
	status = "okay";		/* TODO HW changes */
	pinctrl-names = "default";
	pinctrl-0 = <&wkupi2c1_pins_default>;
	clock-frequency = <100000>;

	i2c-mux@72 {
		compatible = "nxp,pca9546"; /* U34 TCA9546APWR */
		reg = <0x72>;

		vdd-supply = <&vdd_1v8>;
		#address-cells = <1>;
		#size-cells = <0>;

		i2c_port_c: i2-c-port-c@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c_port_d: i2-c-port-d@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c_port_e: i2-c-port-e@2 {
			reg = <2>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c_port_rgb: i2-c-port-rgb@3 {
			reg = <3>;
			#address-cells = <1>;
			#size-cells = <0>;
		};
	};
};

&usbss0 {
	status = "okay";
	ti,vbus-divider;
};

&usbss1 {
	status = "okay";
	ti,vbus-divider;
};

&usb0 {
	adp-disable;
	usb-role-switch;

	port {
		usb0_ep: endpoint {
			remote-endpoint = <&usb_dr_connector>;
		};
	};
};

&usb1 {
	pinctrl-names = "default";
	pinctrl-0 = <&main_usb1_pins_default>;

	dr_mode = "host";
};
