// SPDX-License-Identifier: GPL-2.0
/*
 * M.2 SDIO LWBxx & IFxxx module
 *
 * Copyright (C) 2024 Ezurio LLC
 */

/dts-v1/;
/plugin/;

#include "k3-am625-carbon-m2.dtsi"

&{/} {
	reg_wifi_en_m2: regulator-wifi-en-m2 {
		compatible = "regulator-fixed";

		regulator-name = "reg_wifi_en";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		vin-supply = <&vcc_wifi_m2>;

		gpios = <&exp1 4 GPIO_ACTIVE_HIGH>;   /* M2_WDISABLE1# */
		enable-active-high;

		startup-delay-us = <250000>;
		off-on-delay-us = <100>;
	};
};

&sdhci1 { /* SDIO_A uSD / M.2_SDIO */
	vmmc-supply = <&reg_wifi_en_m2>;

	#address-cells = <1>;
	#size-cells = <0>;

	wifi@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
	};
};

&mcu_uart0 {
	bluetooth {
		compatible = "brcm,bcm4329-bt";
		vbat-supply = <&vcc_wifi_m2>;
		vddio-supply = <&vdd_1v8>;
		brcm,requires-autobaud-mode;
		max-speed = <921600>;
		shutdown-gpios = <&exp1 5 GPIO_ACTIVE_HIGH>;
		device-wakeup-gpios = <&exp1 7 GPIO_ACTIVE_HIGH>;
	};
};

&wifi_wakeup_m2 {
	status = "disabled";
};

&exp2 {
	/delete-property/ wakeup-source;
};
