// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2024 Ezurio
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

&{/} {
	// replace when reset is supported by the bluetooth driver
	vcc_bt: regulator-bt {
		compatible = "regulator-fixed";
		regulator-name = "vcc_bt";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		pinctrl-names = "default";
		pinctrl-0 = <&main_bt_en_default>;
		gpios = <&main_gpio0 22 GPIO_ACTIVE_HIGH>; /* W_DISABLE2# */
		enable-active-high;
		regulator-always-on;
	};

	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-sd8787";

		pinctrl-names = "default";
		pinctrl-0 = <&main_wifi_en_default>, <&main_wifi_en2_default>;
		powerdown-gpios = <&main_gpio0 20 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&main_gpio0 21 GPIO_ACTIVE_HIGH>;
	};
};

&sdhci2 { /* SDIO_B  WIFI */
	status = "okay";
	mmc-pwrseq = <&wifi_pwrseq>;
};

&main_uart1 {
	status = "okay";

	bluetooth {
		compatible = "nxp,88w8987-bt";
		fw-init-baudrate = <3000000>;
	};
};

&wifi_wakeup {
	status = "okay";
};
