// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * SDIO LWBxx & IFxxx module
 *
 * Copyright (C) 2024 Ezurio LLC
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

&{/} {
	reg_wifi_en: regulator-wifi-en {
		compatible = "regulator-fixed";

		regulator-name = "reg_wifi_en";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		vin-supply = <&reg_slow_clock>;

		pinctrl-names = "default";
		pinctrl-0 = <&main_wifi_en_pins_default>;
		gpio = <&main_gpio0 20 GPIO_ACTIVE_HIGH>;
		enable-active-high;

		startup-delay-us = <250000>;
		off-on-delay-us = <100>;
	};
};

&sdhci2 { /* SDIO_B  WIFI */
	status = "okay";

	vmmc-supply = <&reg_wifi_en>;

	#address-cells = <1>;
	#size-cells = <0>;

	wifi@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
	};
};

&main_uart1 {
	pinctrl-0 = <&main_uart1_pins_default>, <&main_bt_en_pins_default>;

	status = "okay";

	bluetooth {
		compatible = "brcm,bcm4329-bt";
		vbat-supply = <&reg_slow_clock>;
		vddio-supply = <&buck2_reg>;
		brcm,requires-autobaud-mode;
		max-speed = <921600>;
		shutdown-gpios = <&main_gpio0 22 GPIO_ACTIVE_HIGH>;
	};
};
