// SPDX-License-Identifier: GPL-2.0-only OR MIT
/*
 * LVDS to LVDS Expansion Board with BD070LIC3 display for carbon AM62x
 *
 * Copyright (C) 2024 Ezurio LLC
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pwm/pwm.h>
#include "k3-pinctrl.h"

&{/} {
	backlight_lvds_d: backlight-lvds-d {
		compatible = "pwm-backlight";

		brightness-levels = <0 1 2 3 4 5 6 7 8 9 10>;
		default-brightness-level = <8>;
		pwms = <&epwm1 1 30000 0>; /* 33.3 kHz */

		pinctrl-names = "default";
		pinctrl-0 = <&main_lvds_d_backlight_en_default>;
		enable-gpios = <&main_gpio0 33 GPIO_ACTIVE_HIGH>;
	};

	vcc_lvds_d: regulator-vcc-lvds-d {
		compatible = "regulator-fixed";
		regulator-name = "vcc_lvds-d";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		vin-supply = <&vdd_3v3_carrier>;

		pinctrl-names = "default";
		pinctrl-0 = <&main_lvds_d_power_default>;
		gpios = <&main_gpio0 30 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		startup-delay-us = <10000>;
	};

	display_lvds_d: display-lvds-d {
		compatible = "panel-lvds";
		data-mapping = "vesa-24";

		power-supply = <&vcc_lvds_d>;
		backlight = <&backlight_lvds_d>;

		width-mm = <150>;
		height-mm = <94>;

		panel-timing {
			clock-frequency = <68000000>;
			hactive = <1280>;
			vactive = <800>;

			hback-porch = <27>;
			hfront-porch = <64>;
			hsync-len = <4>;

			vback-porch = <4>;
			vfront-porch = <16>;
			vsync-len = <4>;
		};

		port {
			lcd_in0: endpoint {
				remote-endpoint = <&oldi_0_out>;
			};
		};
	};
};

&epwm1 {
	status = "okay";
};

&gpu {
	status = "okay";
};

&dss {
	status = "okay";
};

&dss_ports {
	#address-cells = <1>;
	#size-cells = <0>;

	/* Video Port 1 Output to OLDI */
	port@0 {
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <0>;

		dpi0_out0: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&oldi_0_in>;
		};
	};
};

&oldi0 {
	status = "okay";
};

&oldi0_ports {
	#address-cells = <1>;
	#size-cells = <0>;

	port@0 {
		reg = <0>;
		oldi_0_in: endpoint {
			remote-endpoint = <&dpi0_out0>;
		};
	};

	port@1 {
		reg = <1>;
		oldi_0_out: endpoint {
			remote-endpoint = <&lcd_in0>;
		};
	};
};

&i2c_port_d {
	#address-cells = <1>;
	#size-cells = <0>;

	touchscreen_lvds_d: touchscreen-lvds-d@14 {
		compatible = "goodix,gt911";
		reg = <0x14>;
		AVDD28-supply = <&vcc_lvds_d>;
		VDDIO-supply = <&vcc_lvds_d>;
		interrupts-extended = <&exp2 10 IRQ_TYPE_EDGE_FALLING>;
		interrupt-names = "irq";
		irq-gpios = <&exp2 10 GPIO_ACTIVE_HIGH>;
		//reset-gpios = <&exp2 11 GPIO_ACTIVE_HIGH>;
		touchscreen-size-x = <1280>;
		touchscreen-size-y = <800>;
	};
};
