// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * SDIO Summit/Sterling 60 in SDIO-SDIO module
 *
 * Copyright (C) 2024 Ezurio LLC
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

&{/} {
	regulator-bt-strap {
		compatible = "regulator-fixed";
		regulator-name = "bt-strap";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		pinctrl-names = "default";
		pinctrl-0 = <&main_bt_en_pins_default>;
		gpios = <&main_gpio0 22 GPIO_ACTIVE_HIGH>;
		enable-active-high; /* SDIO-SDIO mode */
		regulator-always-on;
	};
};

// Add control for SDIO_PWR_EN_B until R6 is removed
&wifi_pwrseq {
	pinctrl-0 = <&main_wifi_en_default>, <&main_wifi_en2_default>;
	reset-gpios = <&main_gpio0 20 GPIO_ACTIVE_LOW>, 
		<&main_gpio0 21 GPIO_ACTIVE_LOW>;

	status = "okay";
};

&sdhci2 {
	status = "okay";

	wifi {
		compatible = "marvell,sd8997";
		fwtype = "sdio-sdio";
	};
};

&main_uart1 {
	status = "okay";
};

&wifi_wakeup {
	status = "okay";
};
