// SPDX-License-Identifier: GPL-2.0-only OR MIT
/*
 * RGB to LVDS Expansion Board with BD070LIC3 display for carbon AM62xx
 *
 * Copyright (C) 2024 Ezurio LLC
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pwm/pwm.h>
#include "k3-pinctrl.h"

&{/} {
	backlight_rgb: backlight-rgb {
		compatible = "pwm-backlight";

		brightness-levels = <0 1 2 3 4 5 6 7 8 9 10>;
		default-brightness-level = <8>;
		pwms = <&epwm1 0 30000 0>; /* 33.3 kHz */

		pinctrl-names = "default";
		pinctrl-0 = <&main_rgb_backlight_en_default>;
		enable-gpios = <&main_gpio0 71 GPIO_ACTIVE_HIGH>;
	};

	display_rgb: display-rgb {
		/* BD070LIC3 */
		compatible = "tianma,tm070jdhg30", "panel-simple";

		backlight = <&backlight_rgb>;
		power-supply = <&vcc_rgb>;

		port {
			lcd_in0: endpoint {
				remote-endpoint = <&lvds_out>;
			};
		};
	};

	reg_reset_rgb: regulator-reset-rgb {
		/* output of U4 */
		compatible = "regulator-fixed";
		regulator-name = "reg_reset_rgb";

		vin-supply = <&vdd_3v3_carrier>;

		pinctrl-names = "default";
		pinctrl-0 = <&main_rgb_reset_default>;
		gpios = <&main_gpio0 19 GPIO_ACTIVE_HIGH>;
		enable-active-high;

		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	vcc_rgb: regulator-vcc-rgb {
		compatible = "regulator-fixed";
		regulator-name = "vcc_rgb";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		vin-supply = <&reg_reset_rgb>;

		pinctrl-names = "default";
		pinctrl-0 = <&main_rgb_pwr_default>;
		gpios = <&main_gpio0 14 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		startup-delay-us = <10000>;
	};

	lvds-encoder {
		compatible = "ti,sn65lvds93a", "lvds-encoder";

		//pclk-sample = <1>;
		max-frequency = <130000000>;
		min-frequency = <20000000>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				lvds_in0: endpoint {
					remote-endpoint = <&dpi_out0>;
				};
			};

			port@1 {
				reg = <1>;
				lvds_out: endpoint {
					remote-endpoint = <&lcd_in0>;
				};
			};
		};
	};
};

&main_pmx0 {
	/* CAUTION: LVDS_E_VDD_EN is shared with RGB_VDD_EN
	   as such these functions cannot be used together */
	main_rgb_pwr_default: main-rgb-pwr-default-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x038, PIN_INPUT, 7) /* RGB_VDD_EN (E24) OSPI0_CSn3.GPIO0_14 */
		>;
	};

	main_rgb_reset_default: main-rgb-reset-default-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x04c, PIN_INPUT, 7) /* RGB_RESET# (P24) GPMC0_AD4.GPIO0_19 */
		>;
	};

	main_rgb_backlight_en_default: main-rgb-backlight-en-default-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x124, PIN_INPUT, 7) /* RGB_BL_EN (A23) MMC2_SDCD.GPIO0_71 */
		>;
	};
};

&epwm1 {
	status = "okay";
};

&dss {
	pinctrl-names = "default";
	pinctrl-0 = <&main_dss0_pins_default>;
	status = "okay";
};

&dss_ports {
	#address-cells = <1>;
	#size-cells = <0>;

	port@1 {
		reg = <1>;

		dpi_out0: endpoint {
			remote-endpoint = <&lvds_in0>;
		};
	};
};

&i2c_port_rgb {
	#address-cells = <1>;
	#size-cells = <0>;

	touchscreen_rgb: touchscreen@14 {
		compatible = "goodix,gt911";
		reg = <0x14>;
		AVDD28-supply = <&vcc_rgb>;
		VDDIO-supply = <&vcc_rgb>;
		interrupts-extended = <&exp2 14 IRQ_TYPE_EDGE_RISING>;
		interrupt-names = "irq";
		irq-gpios = <&exp2 14 GPIO_ACTIVE_HIGH>;
		touchscreen-size-x = <1280>;
		touchscreen-size-y = <800>;
	};
};
