// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2024 Ezurio
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

&{/} {
	reg_wifi_en: regulator-wifi-en {
		compatible = "regulator-fixed";

		regulator-name = "reg_wifi_en";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;

		vin-supply = <&reg_slow_clock>;

		pinctrl-names = "default";
		pinctrl-0 = <&main_wifi_en_pins_default>;
		gpios = <&main_gpio0 20 GPIO_ACTIVE_HIGH>;
		enable-active-high;

		startup-delay-us = <10000>;
		off-on-delay-us = <80>;
	};
};

&sdhci2 { /* SDIO_B  WIFI */
	status = "okay";

	vmmc-supply = <&reg_wifi_en>;

	cap-power-off-card;

	#address-cells = <1>;
	#size-cells = <0>;

	bt@1 {
		reg = <1>;
		compatible = "ti,cc33xxbt";
	};

	wifi@2 {
		reg = <2>;
		compatible = "ti,cc33xx";

		pinctrl-names = "default";
		pinctrl-0 = <&main_wifi_wake_default>;
		//interrupts-extended = <&main_gpio0 16 IRQ_TYPE_EDGE_RISING>;
	};
};

&main_uart1 {
 	status = "okay";

	bluetooth {
		compatible = "ti,cc33xx-bt";
		cc33xx-supply = <&reg_wifi_en>;
		max-speed = <115200>;

		pinctrl-names = "default";
		pinctrl-0 = <&main_bt_wake_pins_default>;
		host-wakeup-gpios = <&main_gpio0 42 GPIO_ACTIVE_HIGH>;
	};
};
